<div class="container white_pane">
  
  <div class="row">
  
      <div class="col-md-6 product_header">
        <%= link_to gravatar_for(@maker, size:75), maker_path(@maker) %>
        &nbsp;&nbsp;
        <%= @maker.makername %>
     </div>
    </div>

<br>

  <ul class="nav nav-tabs">
    <li>
      <%= link_to "Things", maker_path(@maker) %>
    </li>
    <% if logged_in? and @maker == current_user %>
    <li  class='active'>
      <%= link_to "Your Profile", edit_maker_path(@maker) %>
    </li>
    <% end %>
  </ul>
  
  <%= render 'form' %>

</div>